#layout_themes .thumbnails .thumbnail {
    border-radius: 5px;
    height: 250px;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

#layout_themes .thumbnails .thumbnail.active {
    background-color: rgba(0, 255, 0, 0.2);
}
#layout_themes .thumbnails .thumbnail.active .btns {
    display: none;
}

#layout_themes .thumbnails .thumbnail.new-theme {
    background-color: rgba(255, 0, 0, 0.2);
}