#layout_themes .thumbnails li {
    border-radius: 5px;
    height: 240px;
    padding: 5px;
}
#layout_themes .thumbnails li .thumbnail {
    background-color: #fff;
    margin-bottom: 5px;
}

#layout_themes .thumbnails li.active {
    background-color: rgba(0, 255, 0, 0.2);
}
#layout_themes .thumbnails li.active .btns {
    display: none;
}

#layout_themes .thumbnails li.new-theme {
    background-color: rgba(255, 0, 0, 0.2);
}