#relationship_elements .radio.inline + .radio.inline,
.row-fluid #relationship_elements [class*="span"]:first-child,
#relationship_elements .checkbox.inline + .checkbox.inline {
    margin-right: 10px;
    margin-left: 0;
}

#relationship_elements .input-prepend,
#relationship_elements .input-append {
    display: block;
}

#meta_elements .thumbnails {
    margin-top:10px;
}
#meta_elements .thumbnails li,
.content-form-meta-file-images .thumbnails li {
    margin-left: 0;
    margin-right: 10px;
}
.content-form-meta-file-images .thumbnails li {
    position: relative;
    width: 180px;
    height: 160px;
    text-align: center;
}
.thumbnails li .file-remove {
    margin-left: 5px;
    position: relative;
    color: #333;
}
.content-form-meta-file-images .thumbnails li .icon-move {
    cursor: move;
    position: absolute;
    right: 0;
    top: 20px;
}
.content-form-meta-file-images .thumbnails li.ui-state-highlight {
    border: 0;
    background: #eee;
    border-radius: 5px;
}
.content-form-meta-file-images .thumbnails {
    position: relative;
    border: 1px solid #DDDDDD;
    margin-top: 15px;
    padding: 20px;
}
.content-form-meta-file-images .thumbnails .thumbnail {
    display: inline-block;
    background-color: #fff;
}
.content-form-meta-file-images .thumbnails .thumbnail img {
    max-width: 150px;
    max-height: 150px;
}


.radio-inline.rating input {
    display: none;
}
.radio-inline.rating {
    margin-left: 2;
    padding-left: 0;
    width: 24px;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
}
.radio-inline.rating.half1, .radio-inline.rating.half2 {
    width: 12px;
}
.radio-inline.rating.half2 {
    text-indent: -6px;
}
.form-group.rating label.control-label {
    line-height: 28px;
}
.radio-inline.rating + .radio-inline.rating {
    margin-left: 0;
}
.rating-description {
    display: inline-block;
    vertical-align: text-bottom;
    color: #666;
    line-height: 22px;
    height: 24px;
    margin-left: 10px;
    padding-top: 7px;
}

.control-group.rating > .control-label {
    line-height: 30px;
}

.icon-large {
    background-image: url("../img/large-icons.png");
    width: 24px;
    height: 24px;
}
.icon-large.icon-star {
    background-position: -48px 0;
}
.icon-large.icon-star-empty {
    background-position: -96px 0;
}

label.half1 .icon-star, label.half2 .icon-star,
label.half1 .icon-star-empty, label.half2 .icon-star-empty {
    width: 8px;
}
label.half2 .icon-star {
    background-position: -128px 0;
}
label.half2 .icon-star-empty {
    background-position: -152px 0;
}

label.half1 .icon-large.icon-star, label.half2 .icon-large.icon-star,
label.half1 .icon-large.icon-star-empty, label.half2 .icon-large.icon-star-empty {
    width: 12px;
}
label.half2 .icon-large.icon-star {
    background-position: -60px 0;
}
label.half2 .icon-large.icon-star-empty {
    background-position: -108px 0;
}

.content-form-meta-file-images .thumbnails li.image-uploader {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content-form-meta-file-images .thumbnails .qq-uploader {
    height: 100%;
}
.content-form-meta-file-images .thumbnails .qq-upload-list {
    border: 0 none;
    height: 100%;
}
.content-form-meta-file-images .thumbnails .qq-upload-button {
    display: none;
}

span.glyphicon.glyphicon-star.half1, span.glyphicon.glyphicon-star-empty.half2 {
    width: 6.5px;
    overflow: hidden;
}
span.glyphicon.glyphicon-star-empty.half2 {
    text-indent: -6.5px;
}

.panel a.panel-heading {
    display:block;
    text-decoration:none;
}
.panel a.panel-heading:hover, .panel a.panel-heading:focus {
    background-color: #e5e5e5;
}

/*
div[rel="content-form-meta-field-select"] .checkbox {
    display: inline-block;
    margin-right: 30px;
}
*/